<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="./index.css" rel="stylesheet">
    <title>Document</title>
</head>
<body>
    <form action="/modify" method="post">
        <input type="hidden" name="idx" value="{{list.idx}}">
        <h2>게시판 글수정 페이지 입니다.</h2>
        <ul>
            <li>글제목</li>
            <li><input type="text" name="board_subject" value="{{list.subject}}"></li>
        </ul>
        <ul>
            <li>작성자</li>
            <li><input type="text" name="board_name" value="{{list.board_name}}"></li>
        </ul>
        <ul>
            <li>
                <textarea name="board_content">{{list.content}}</textarea>
            </li>
        </ul>
        <input type="submit" value="글수정" class="write_btn">
        <a href="/list">글목록</a>
    </form>
</body>
</html>